body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
    background: #f2f2f2;
}

button {
    padding: 15px 25px;
    margin: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#playBtn {
    background: #4CAF50;
    color: white;
}

#stopBtn {
    background: #d9534f;
    color: white;
}
